@tailwind base;
@tailwind components;
@tailwind utilities;

    
body{
    background-color: black;
    color: white;
}
#tasklist::-webkit-scrollbar{
    display: none;
}
#tasklist{
    overflow-x: scroll; /* Allow horizontal scrolling */
    scrollbar-width: none; /* For Firefox */
}
#alllistscroll::-webkit-scrollbar{
    display: none;
}
#alllistscroll{
    overflow-x: scroll; /* Allow horizontal scrolling */
    scrollbar-width: none; /* For Firefox */
}

